# 1.python基础试题

1.1 python 中boolean、float 和 int 分别表示什么？返回0代表False 1代表true ；整数和字符串转换为浮点数；把字符串或数字转换为整型

1.2  设计求1-2+3-4+5 ... 99的所有数的和

In [ ]:
n=1
s=0
while n< 101:
     s=s+n
     n=n+1
    print(s)
n=1
s=0
while n<100
temp=n % 2
if temp ==0
s=s-n
else:
    s=s+n
    n=n+1
    print(s)

1.3  将字符串 s="yoyo" 转换成列表

In [ ]:
 s="yoyo"
 s_list=list(s)
print(s)

# 2. python进阶基础试题

2.1     for i in range(1,100)[2::3][-10:]: 

                print i 
                
        
        从72开始取每隔三个取一次取到99

2.2 使用init 实例化时自动运行  分别计算单只股票最高价和收盘价两个时间点差值问题,可统一为one、two两个时间点,其最高价和收盘价赋值为 one(15,7) two(66,20)

In [3]:
def _init_(self,one,two)
self.one=(15,7)
self.two=(66,20)

{'one_dif': 8}
{'two_dif': 46}

# 3. pandas数据处理试题

3.1 如何查看列名、怎么对数据
利用df.columns,index
转置df.set_index

3.2 读取data里的600029这只股票的DataFrame,将其收盘价转换成用Numpy的Array格式，并用talib计算10日EMA值，返回ndarray的最后五个值

In [4]:
import pandas as pd

import numpy as np
import talib as ta
from datetime import datetime
stock1 = pd.read_excel('sz50.xlsx',sheetname='600029.XSHG', index_col='datetime')
d=np.array(stock1.close)
print(type(d))
print(ta.MA(d,10)[-5:])

<class 'numpy.ndarray'>
[ 15.08227205  15.2564044   15.44433088  15.72172526  15.96322976]

3.3 读取sz50.xlsx的['600029.XSHG','600050.XSHG','601318.XSHG']的全数据做成Panel

In [ ]:
import panel as pd
import warnings
warnings.filterwarnings('ignore')

stock1 = pd.read_excel('sz50.xlsx',None, index_col='datetime')
print (stock1.keys())

3.4把Panel转成ndim为3的Numpy，然后用array的切片读取ndim为2的三只股票最近20天的收盘价

(3, 215, 5)
[[  13.85   13.82   13.83   14.11   14.25   14.39   15.1    15.15   15.22
    14.97   14.89   14.99   14.71   15.07   15.35   16.     16.04   16.29
    16.97   17.05]
 [   8.53    8.56    8.62    8.88    9.25    9.24    9.43    9.25    9.02
     9.15    9.63    9.5     9.9     9.97    9.96    9.49    9.68    9.61
     9.63    9.8 ]
 [ 134.83  134.56  137.5   143.18  143.48  144.15  143.61  143.65  144.35
   143.36  146.41  144.71  148.56  156.53  157.12  157.72  154.99  163.52
   168.58  169.57]]

3.5 建立一个5*5的矩阵，值从0到24

In [ ]:
import numpy as np
Z = np.ones((5,5))
Z[0:24] = 0
print(Z)